
<div class="container body-container">

<div>
    <form class="form-inline" > 
        <label for="county_name">COVID Clarified for:</label><br>
        <input class="enter-county-box" type="text" id="countyName" >
        <select id="stateName"  maxlength="100">
            <option>Select State</option> 
        </select>
        <button type="submit" class="btn btn-pink btn-lg" id="submitCounty" value="Submit" onclick="getCountyInfo()">Submit</button>
    </form>
</div>

<div>
<br><br>

<div id="graph-nav">
  <button class="btn">New Cases Per Day</button>
  <button class="btn active">Vaccines Distributed</button>
</div>

{{#if errorMessage.length}}
    <p>{{errorMessage}}</p>
{{/if}}

<br>


    <!--Code for CountryVaccines graph-->
    {{#if CountryVaccines}}
    <div class="container">
    <section class="vacc_chart" style="background-color:white;"><!--Color for graph background-->

        <div style="display: flex; justify-content: center; width: 100%; vertical-align: top; color: grey;">

            <canvas id="vaccine-distribution" width="400" height="200"></canvas>

            <script>
                var ctx = document.getElementById('vaccine-distribution');

                var dates = [];
                var total_vacc = [];
                {{#each CountryVaccines}} //Stores data from CountryVaccines into arrays
                    {{#if total_vaccinations.length}} 
                        dates.push("{{date}}"); //Converted {{date}} data from handlebars to string to keep original format
                        var vacc = {{total_vaccinations}};
                        total_vacc.push(vacc);
                    {{/if}}
                {{/each}}

                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [
                        {
                            label: 'Total Vaccine Distributed',
                            data: total_vacc,
                            //fill: false,
                            borderColor: '#4995A3', //color for line in line graph
                            backgroundColor: '#78DCF0', //color for line graph fill
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        legend: {
                            labels:{
                                fontColor: 'black' //font color for label on top of chart
                            }

                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontColor: 'black' //font color for x-axis label
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    fontColor: 'black' //font color for y-axis label

                                }
                            }]
                        }
                    }
                    });
            </script>
        </div>
    </section>
    </div>
    {{/if}}
    <!--End of code for CountryVaccines graph-->

    <!--Code for StateVaccines graph-->
    {{#if StateVaccines}}
    <div class="container">
    <section class="state_chart" style="background-color:black;"><!--Color for graph background-->

        <div style="display: flex; justify-content: center; width: 100%; vertical-align: top;">

            <canvas id="state-distribution" width="400" height="200"></canvas>

            <script>
                var ctx = document.getElementById('state-distribution');

                var dates = [];
                var total_vacc = [];
                {{#each StateVaccines}} //Stores data from CountryVaccines into arrays
                    {{#if total_distributed.length}} 
                        dates.push("{{date}}"); //Converted {{date}} data from handlebars to string to keep original format
                        var vacc = {{total_distributed}};
                        total_vacc.push(vacc);
                    {{/if}}
                {{/each}}

                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [
                        {
                            label: 'Total Vaccine Distributed for States',
                            data: total_vacc,
                            //fill: false,
                            borderColor: 'rgba(75, 192, 192, 1)', //color for line in line graph
                            backgroundColor: 'rgba(75, 192, 192, 0.2)', //color for line graph fill
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        legend: {
                            labels:{
                                fontColor: 'white' //font color for label on top of chart
                            }

                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontColor: 'white' //font color for x-axis label
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    fontColor: 'white' //font color for y-axis label
                                }
                            }]
                        }
                    }
                    });
            </script>
        </div>
    </section>
    </div>
    {{/if}}
    <!--End of code for StateVaccines graph-->

<br><br>

{{#if CountryVaccines.length}}
<h3>Total Vaccine Distributed</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total Vaccinations</th>
            <th scope="col">People Vaccinated</th>
            <th scope="col">People Fully Vaccinated</th>
        </tr>
    </thead>
    <tbody>
        {{#each CountryVaccines}}
        {{#if total_vaccinations.length}}
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{total_vaccinations}}</td>
            <td>{{people_vaccinated}}</td>
            <td>{{people_fully_vaccinated}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
        {{/if}}

{{#if StateVaccines.length}}
<h3>Total Vaccine Distributed</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total Vaccinations</th>
            <th scope="col">People Vaccinated</th>
            <th scope="col">People Fully Vaccinated</th>
            <th scope="col">People Fully Vaccinated per 100k</th>
        </tr>
    </thead>
    <tbody>
        {{#each StateVaccines}}
        {{#if total_distributed.length}}
        <tr>
            <th scope="row">{{date}}</th>
            <td>{{total_vaccinations}}</td>
            <td>{{total_distributed}}</td>
            <td>{{people_vaccinated}}</td>
            <td>{{people_fully_vaccinated_per_hundred}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
        {{/if}}


        {{!-- {{#each CountryVaccines}}
        {{#if total_vaccinations.length}}
        <p>{{date}} : {{total_vaccinations}}</p>
        
        {{/if}}
        {{/each}} --}}
    
    {{#each StateVaccines}}
        {{#if total_distributed.length}}
        <p>{{date}} : {{total_distributed}}</p>
        {{/if}}
    {{/each}}

        <script type="text/javascript">
            $(document).ready(function () {
                Handlebars.registerPartial('navbar', '{{navbar}}');
            })
        </script>

    <script src="/scripts/local_info_scripts.js"></script>

