
<div class="container body-container">

<div>
    <form class="form-inline" > 
        <label for="county_name">COVID-19 Clarified for:</label><br>
        <input class="enter-county-box" type="text" id="countyName" >
        <select id="stateName"  maxlength="100">
            <option>Select State</option> 
        </select>
        <button type="submit" class="btn btn-secondary btn-lg" id="submitCounty" value="Submit" onclick="getCountyInfo()">Submit</button>
    </form>
</div>

<div>



{{#if errorMessage.length}}
    <p>{{errorMessage}}</p>
{{/if}}

<br>


    <!--Code for CountryVaccines graph-->
    {{#if CountryVaccines}}
    <div class="container">
    <section class="vacc_chart" style="background-color:black;"><!--Color for graph background-->

        <div style="display: flex; justify-content: center; width: 100%; vertical-align: top; color: grey;">

            <canvas id="vaccine-distribution" width="400" height="200"></canvas>

            <script>
                var ctx = document.getElementById('vaccine-distribution');

                var dates = [];
                var total_vacc = [];
                {{#each CountryVaccines}} //Stores data from CountryVaccines into arrays
                    {{#if total_vaccinations.length}} 
                        dates.push("{{date}}"); //Converted {{date}} data from handlebars to string to keep original format
                        var vacc = {{total_vaccinations}};
                        total_vacc.push(vacc);
                    {{/if}}
                {{/each}}

                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [
                        {
                            label: 'Total Vaccine Distributed',
                            data: total_vacc,
                            //fill: false,
                            borderColor: 'rgba(75, 192, 192, 1)', //color for line in line graph
                            backgroundColor: 'rgba(75, 192, 192, 0.2)', //color for line graph fill
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        legend: {
                            labels:{
                                fontColor: 'white' //font color for label on top of chart
                            }

                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontColor: 'white' //font color for x-axis label
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    fontColor: 'white' //font color for y-axis label
                                }
                            }]
                        }
                    }
                    });
            </script>
        </div>
    </section>
    </div>
    {{/if}}
    <!--End of code for CountryVaccines graph-->

<p>Total Vaccine Distributed</p>

        {{#each CountryVaccines}}
        {{#if total_vaccinations.length}}
        <p>{{date}} : {{total_vaccinations}}</p>
        
        {{/if}}
        {{/each}}
    
    {{#each StateVaccines}}
        {{#if total_distributed.length}}
        <p>{{date}} : {{total_distributed}}</p>
        {{/if}}
    {{/each}}

        <script type="text/javascript">
            $(document).ready(function () {
                Handlebars.registerPartial('navbar', '{{navbar}}');
            })
        </script>

    <script src="/scripts/local_info_scripts.js"></script>

</div>


</div>
